@import url('https://fonts.googleapis.com/css2?family=Mali:wght@300;700&display=swap');




/* .parent-container {
    background-color: #118ab2;
    height:100%;
} */

.container {
    display: flex;
    justify-content:space-around;
}

.form {
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
}

.header {
    text-decoration: underline;
}

.card {
    display: flex;
    justify-content: space-between;
    width: 50vh;
    padding: 0 .5em;
    margin: .2em 0;
    border-radius: .5em;
    border: 1px solid black;
    background-color: #B7D1DA;
}

.card h3 {
    font-family: 'Mali', cursive;
}

.buttons {
    display: flex;
    justify-content:center;
    align-items: center;
}



.buttons button {
    cursor: pointer;
    /* border-radius: 6px; */
    
    /* background: 0 0; */
    font-size: 16px;
    height: 50%;
    border:1px solid black; 
    border-radius: 6px;
    margin-left: .5em;
    width: 4em;
    color: #caf0f8;
}

.buttons button:hover {
    background-color: #1d1c1d4d;
}

.editButton {
    background-color: #5fa8d3;
}

.deleteButton {
    background-color: #ce4257;
}

@media screen and (max-width: 720px) {
    .container {
        flex-direction: column;
    }

    .card {
        width: 40vh;
    }

}