body {
    background-color: #8d99ae;
    color: #416788;
}

.landing-card {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background-color: #B7D1DA; /* 8d99ae dceef3*/
    margin: 10% 15%;
    height: 20em;
    padding: 10em 0;
    border-radius: 1em;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
}

.inputText {

    padding: 7px;
    border-radius: 6px;
    font-size: 16px;
    background: #fbfbfb;
    border: 2px solid transparent;
    height: 36px;
    box-shadow: 0 0 0 1px #dddddd, 0 2px 4px 0 rgb(0 0 0 / 7%), 0 1px 1.5px 0 rgb(0 0 0 / 5%);

}

.button {
    cursor: pointer;
    border-radius: 6px;
    background: 0 0;
    font-size: 16px;
    height: 36px;
    border: 1px solid #1d1c1d4d;  
}

.button a {
    color: #416788;
}

.button:hover {
    background-color: #1d1c1d4d;
}